<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Shujon Mollah's Resume</title>

    <!-- For dat mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "tachyons", "print" %>

    <style>
      /* Based on http://mrmrs.io/links/ */
      a, a:link, a:visited {
        transition: color .4s;
        color: #265C83;
      }

      a:hover {
        color: #7FDBFF;
      }

      a:active {
        transition: color .3s;
        color: #007BE6;
      }
    </style>
  </head>

  <body class="<%= page_classes %> black mw7 mw-100-print sans-serif lh-copy">
    <header class="pal">
      <div class="dt">
        <h1 class="f2 ttu lh-title mvn">Shujon Mollah</h1>
        <h2 class="f4 ttu lh-title book mvs">QA Manager, Software Engineer</h2>
      </div>
    </header>

    <main class="phl ptn pbl">
      <p class="mvn mhn f5 lh-copy"><a href="mailto:mollah@gmail.com">mollah@gmail.com</a> <br class="dn-ns" /> <a href="https://github.com/smoll">@smoll</a></p>

      <p class="lh-copy mbn">Software engineer and automated testing fanatic with interests ranging from frontend testing and E2E browser-based tests to deployment automation/development tooling, BDD, and product usability and UAT. Always eager to contribute to a variety of open source projects and learn beyond the scope of my work role.</p>

      <h2 class="lh-title ttu book silver">Experience</h2>

      <h3 class="lh-title mbn mtm">Open Source Developer</h3>

      <p class="lh-copy">I am working on several small open source projects, see my <a href="https://github.com/smoll">GitHub profile</a>.</p>

      <h3 class="mbn mtm">The Orchard</h3>
      <p class="mvn lh-copy"><strong>QA Manager, CI/CD Automation Engineer</strong> December 2014 to Present.</p>
      <ul class="mvs lh-copy">
        <li>QA Manager and technical lead for 7+ person team.</li>

        <li>Responsible for maintaining software quality and preventing regressions for a legacy monolithic application and new container-based microservices, including the challenge of E2E testing across the entire stack while still providing continuous deployment and delivery.</li>

        <li>Increase the amount of testing done and increase development velocity by improving the continuous deployment pipeline. Some recent efforts: containerized legacy PHP application so it is more easily bootstrapped for tests, added SQL acceptance tests to validate data (ETL)</li>

        <li>Train junior engineers on programming and testing best practices, ensuring that the Cucumber browser automation stack is highly maintainable, irrespective of application stack used or backend changes. Created developer and QA guidelines for writing maintainable, non-brittle UI tests by using Page Object-based architecture.</li>
      </ul>

      <p class="mvn lh-copy"><strong>QA Engineer, Team Lead</strong> February 2014 to December 2014. I transformed all-manual QA regression test process into a robust, automated regression suite that runs on Jenkins CI prior to each deploy to Production.</p>

      <h3 class="lh-title mbn mtm">TheStreet, New York, NY</h3>
      <p class="mvn lh-copy"><strong>QA Engineer</strong> February 2012 to February 2014.</p>
      <ul class="mvs lh-copy">
        <li>Created an automated regression suite for the news site and sales platform.</li>
      </ul>

      <h3 class="lh-title mbn mtm">Kaplan, Inc., New York, NY</h3>
      <p class="mvn lh-copy"><strong>Operations Specialist</strong> July 2010 to July 2011.</p>
      <ul class="mvs lh-copy">
        <li>Operational support for sales and promotions on their test prep platform.</li>
        <li>Automated various manual tasks such as PDF receipt generation.</li>
      </ul>

      <h3 class="lh-title mbn mtm">Union Settlement Association, East Harlem, New York, NY</h3>
      <p class="mvn lh-copy"><strong>Helpdesk Technician</strong> January 2010 to October 2010.</p>
      <ul class="mvs lh-copy">
        <li>Troubleshot systems, networking issues for all of the organization's offices and centers.</li>
        <li>Windows and Linux Server admin for Active Directory, email and web servers.</li>
      </ul>

      <h2 class="lh-title ttu book silver">Education</h2>

      <p class="mvn lh-copy"><strong>Biometry &amp; Statistics (Computational Statistics), B.S.</strong> Cornell University, Fall 2006 to Fall 2009.</p>
      <p class="mvn lh-copy"><strong>University of Melbourne</strong> Melbourne, Australia. 2005 - 2006</p>

      <h2 class="lh-title ttu book silver">Proficiencies</h2>

      <p class="mvn lh-copy"><strong>Code</strong>: Ruby, JavaScript, Bash, some Python and Java</p>
      <p class="mvn lh-copy"><strong>Software</strong>: Linux, Docker, Vagrant, Selenium WebDriver and watir-webdriver, multiple-browser Selenium Grid, various CI platforms (Jenkins, Travis, Circle, Codeship)</p>
      <p class="mvn lh-copy"><strong>Test frameworks</strong>: Polyglot ATDD with Cucumber, unit testing with RSpec, frontend DOM testing with Karma, server provisioning &amp; configuration testing with Serverspec and Infrataster</p>
    </main>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65109553-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
